/Blocks/.idea/
/Blocks/Blocks/bin/
/Blocks/Blocks/obj/
/Blocks/Calculator/bin/
/Blocks/Calculator/obj/
/Blocks/Logger/bin/
/Blocks/Logger/obj/
/Blocks/ShoppingCart/obj/
/Blocks/ShoppingCart/bin/
/Blocks/ShoppingCartTests/obj/
/Blocks/ShoppingCartTests/bin/
/Blocks/UserInterfaces/obj/
/Blocks/UserInterfaces/bin/
/Blocks/Blocks.sln.DotSettings.user
/Silenium/